html {
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
}
            /* Основные стили для мобильной версии */
.page {
  background-image: url(../images/cover-image-dark.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color, #000028);
  box-sizing: border-box;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px var(--accent-color, #FF0070) solid;
  border-inline-end: 1px var(--accent-color, #FF0070) solid;
  right: 10px;
  top: 10px;
  position: absolute;
}

.decorated-zone::after {
  content: "";
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px var(--accent-color, #FF0070) solid;
  border-inline-start: 1px var(--accent-color, #FF0070) solid;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.rec_text {
  position: absolute;
  display: var(--rec-display, inline-flex);
  align-items: center;
  gap: 10px;
  right: 18px;
  top: 14px;
}

.rec_text::before {
  content: "REC";
  color: var(--accent-color, #FF0070);
}

.rec_text::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  inline-size: 11px;
  block-size: 11px;
  background-color: var(--accent-color, #FF0070);
  box-shadow: 0px 0px 4px 2px var(--accent-color, #FF0070);

}

.head {
  display: grid;
  padding: 10px;
  min-block-size: 100vh;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  
}

.header {
  align-items: start;
}

.header__theme-menu {
  text-transform: lowercase;
}

.header__theme-menu-list {
  text-align: right;
  display: grid;
  gap: 12px;
  margin-block-start: 65px;
}

.header__theme-menu-item {
  list-style: none;

}

.header__theme-menu-button {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  list-style: none;
  color: var(--accent-color, #FF0070);
  text-transform: lowercase;
  border: 1px solid transparent;
  line-height: 18px;
  background: transparent;
  cursor: pointer;
  padding: 2px 12px;

}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header_title {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--title-head-color, #DB00FF);
  text-shadow: 4px 4px var(--title-shadow-color, #FF0070);
}

.header_text {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--accent-text-color, #000028);
  margin-inline-start: 2px;
  margin-block-start: 55px;

}

.decorated {
  background-color: var(--accent-text-shadow-color);
}

.container {
  display: grid;
  background-color: var(--background-color, #000028);
  padding: 40px 10px;
}

.section_answers {
  display: grid;
  gap: 20px;

}

.nav_title {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--accent-color, #FF0070);

}

.article_list {
  display: grid;

}

.section_title {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--accent-text-color, #000028);
}

.section_text {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color, #F1B2CE);
  margin-block-start: 10px;
  margin-block-end: 20px;

}

.section_link {
  color: var(--text-color, #F1B2CE);
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-text-shadow-color, #FF0070);
}

.section_questions {
  display: grid;
  margin-block-start: 30px;
  gap: 19px;
}

.section_subtitle {
  margin-block-start: 21px;
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--accent-text-color, #000028);

}

.section_last_text {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color, #F1B2CE);
  margin-block-start: 9.5px;
}

.section_gallery {
  display: grid;
  gap: 10px;
  margin-block-start: 52px;
  grid-auto-flow: row;
}

.gallery_title {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--accent-text-color, #000028);
}

.gallery_image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.gallery_list {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
}

.footer {
  padding: 10px;
  position: relative;
  background-color: var(--background-color, #000028);
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  min-block-size: 100vh;
}
/* Псевдоэлементы и псевдоклассы  */

.header_title:last-child{
  text-shadow: 2px 2px var(--title-shadow-color, #FF0070);
}
.header__theme-menu-button:hover {
  border-color: var(--hover-border-color, #FF007066);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
}

.header__theme-menu-button:focus {
  border-block-end: 1px var(--accent-color, #FF0070) solid;
}

.section_link:hover {
  border-block-end: 1px var(--text-color, #F1B2CE) solid;
}

.section_link:focus-visible {
  outline: none;
  border: none;
}

.section_link:focus {
  border: 1px var(--text-color, #F1B2CE) solid;
}
/* Начало адаптивного блока */
@media (min-width: 768px) {
  .head {
    display: grid;
    padding: 20px;
  }

  .header {
    padding-inline-start: 0px;
  }

  .rec_text {
    margin-inline-end: 10px;
    margin-block-start: 10px;
  }

  .header__theme-menu-list {
    margin-block-start: 170px;
    margin-block-end: 180px;
  }

  .header_text {
    display: flex;
    max-width: 364px;
    justify-self: end;
    margin-block: 163px;

  }

  .decorated-zone::after {
    left: 20px;
    bottom: 25px;
  }
  .container {
    padding: 20px;
  }

  .section_answers {
    margin-block-start: 40px;
    grid-template-columns: 236px 1fr;
  }

  .section_questions {
    margin-block-start: 61px;
  }

  .nav_title {
    max-width: 236px;
  }

  .section_adviсe {
    display: grid;
    grid-template-columns: 236px 1fr;
  }

  .section_last_text {
    margin-inline-start: 2px;
  }

  .section_gallery {
    margin-block-start: 80px;
    margin-block-end: 40px;
    gap: 20px;

  }

  .gallery_list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, auto));
    grid-template-rows: repeat(3, minmax(0, auto));
    gap: 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .books {
    grid-area: books;
  }

  .tape {
    grid-area: tape;
  }

  .street {
    grid-area: street;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
}

@media (min-width: 1024px) {
  .header_title {
    font-family: var(--font-family, 'IBM Plex Mono', monospace);
    font-size: 157px;
    font-weight: 700;
    line-height: 130px;
    letter-spacing: 0em;
    text-align: left;

  }

  .header__theme-menu-list {
    display: flex;
    margin: 0px;
    justify-content: center;
    margin-block-end: 275px;
    margin-inline-start: 17px;
  }

  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header_text {
    max-width: 491px;
    display: flex;
    margin-block: 115px;
  }

  .section_answers {
    grid-template-columns: 315px 1fr;
  }

  .nav_title {
    max-width: 315px;

  }

  .questions_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

  }

  .article {
    display: grid;
  }

  .section_adviсe {
    display: grid;
    grid-template-columns: 315px 1fr;
  }

  .gallery_list_item {
    display: block;
    object-fit: cover;
    object-position: center;
    block-size: 100%;
    inline-size: 100%;

  }

  .gallery_list {
    display: grid;
    gap: 20px;
    grid-template-columns: minmax(0px, auto) minmax(0px, auto) minmax(0px, auto);
    grid-template-rows: minmax(260px, auto) minmax(100px, auto) minmax(0px, auto);
  }
}