:root{
--accent-color: #FF0070;
--title-head-color: #DB00FF;
--title-shadow-color: #FF0070;
--accent-text-color: #000028;
--accent-text-shadow-color: #FF0070;
--text-color: #F1B2CE;
--background-color: #000028;
--rec-display: inline-flex;
--font-family: 'IBM Plex Mono', monospace;
--hover-border-color: #FF007066;
}